spring:
  application:
    name: Enterprice level todo
    # Database connection settings
  datasource:
      url: jdbc:postgresql://localhost:5432/todo_db
      username: postgres
      password: root
      driver-class-name: org.postgresql.Driver

      hikari:
        maximum-pool-size: 20
        minimum-idle: 5
      # JPA configuration 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.sql        